## 1.

In [34]:
# Note how we define range; range(start, end+1) -- the default value for start is 0
for number in range(101):
  if number%2!=0:
    print(number)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

##2.

In [35]:
def summation_even_numbers(start, end):
  sum = 0
  for number in range(start, end+1):
    if number%2==0:
      sum+=number
  return sum

summation_even_numbers(1,10)

30

## 3.

### a.

In [36]:
list = []
import random

# A: add 10 random numbers
for i in range(10):
  list.append(random.randint(1, 101))
print(list)
print("------------------------------")

[30, 23, 37, 11, 32, 50, 70, 26, 48, 24]
------------------------------

### b.

In [37]:
print(max(list))
print("------------------------------")

70
------------------------------

### c.

In [38]:
print("The minimum number in the list is: "+str(min(list)))
print("------------------------------")

The minimum number in the list is: 11
------------------------------

### d.

In [39]:
print("List unsorted:")
print(list)
list.sort()
print("List sorted:")
print(list)

List unsorted:
[30, 23, 37, 11, 32, 50, 70, 26, 48, 24]
List sorted:
[11, 23, 24, 26, 30, 32, 37, 48, 50, 70]

### e.

In [40]:
print("List before shuffle:")
print(list)
random.shuffle(list)
print("List after shuffle:")
print(list)

List before shuffle:
[11, 23, 24, 26, 30, 32, 37, 48, 50, 70]
List after shuffle:
[48, 24, 70, 30, 11, 26, 50, 32, 23, 37]

### f.

Ran the focused cell d.

## 4.

In [41]:
dictionary = {'a': 1, 'd': 4, 'b': 2, 'c': 3}
print(dictionary)

{'a': 1, 'd': 4, 'b': 2, 'c': 3}

### a.

In [42]:
sorted_list = sorted(dictionary.items(), reverse=False)
sorted_dictionary = dict(sorted_list)
print(sorted_list)
print(sorted_dictionary)

[('a', 1), ('b', 2), ('c', 3), ('d', 4)]
{'a': 1, 'b': 2, 'c': 3, 'd': 4}

### b.

In [43]:
sorted_by_value = dict(sorted(dictionary.items(), key=lambda item: item[1]))
print(sorted_by_value)
sorted_by_value = dict(sorted(dictionary.items(), key=lambda item: item[1], reverse=True))
print(sorted_by_value)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}
{'d': 4, 'c': 3, 'b': 2, 'a': 1}

### c.

In [44]:
dictionary['e'] = 5
print(dictionary)

{'a': 1, 'd': 4, 'b': 2, 'c': 3, 'e': 5}